/* Styling for the student list component */
.student-list {
    margin-top: 20px;
   
  }
  
  /* Table styles */
  .mat-table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mat-header-cell, .mat-cell {
    padding: 12px 16px;
    text-align: left;
    font-weight: bold;
  }
  
  .mat-header-row {
    background-color: #f0f0f0;
  }
  
  .mat-row:nth-child(even) {
    background-color: #f9f9f9;
  }
  .pointer{
    cursor: pointer;
  }
  
  /* Actions buttons */
  button.mat-icon-button {
    margin: 0 4px;
  }
  .button{
    color: rgb(255, 0, 212);
  }
  
  /* Responsive table */
  @media (max-width: 600px) {
    .mat-header-cell, .mat-cell {
      padding: 8px 12px;
      font-size: 12px;
    }
  }
  